.sidenav {
  width: 175px;
  flex: 0 0 175px;

  .heading {
    margin: 15px 0 5px 10px;
    font-weight: bold;
    color: gray;
    font-size: 12px;
    text-transform: uppercase;

    a {
      color: #aaa;
      &:hover {
        color: gray;
      }
    }
  }

  .link {
    border-left: 5px solid transparent;
    padding-left: 15px;
    a, .expander {
      display: inline-block;
      padding: 5px 3px;
      color: #555;
      cursor: pointer;
      border-radius: 2px;
    }
    a:hover {
      color: #1a86ff;
      text-decoration: none;
    }
    &.thin {
      font-weight: 300;
      a {
        color: gray;
      }
    }
    .expander:hover {
      background: #ddd;
    }
    &.selected {
      border-color: #1a86ff;
      a, .expander {
        color: #1a86ff;
      }
    }
    i { 
      width: 15px;
      text-align: center;
    }
    a i {
      margin-right: 8px;
      &.fa-newspaper-o {
        font-size: 14px;
      }
    }
  }
  .sublinks {
    padding-bottom: 10px;
    .link {
      padding-left: 26px;
    }
  }
  .btn {
    i {
      width: 20px;
      text-align: center;
    }
  }

  hr {
    margin: 10px 15px;
  }
}

.leftnav {
  .sidenav;
  background: #fff;

  .big-btn {
    margin: 0 0 10px 15px;
    padding: 8px 30px 8px 15px;
    width: 86px;
  }

  .leftnav-composer {
    position: absolute;
    z-index: 1000;
    background: #fff;
    bottom: 0;
    right: 10px;
    width: 600px;
    border: 1px solid #ddd;
  }
}