.toolbar {
  height: 44px;
  background: #fff;
  border-bottom: 1px solid #ddd;

  .toolbar-inner {
    display: flex;
    padding: 5px 0;

    .toolbar-btn {
      padding: 6px 14px;
      margin-right: 5px;
      border: 1px solid #ddd;
      border-radius: 2px;
      background: #eee;
      color: #555;
      box-shadow: none;

      &:hover {
        border-color: #ccc;
        background: #f2f2f2;
      }
    }
  }
}