.topnav {
  padding: 10px;
  background: #fff;

  .topnav-bar {
    .search {
      border: 1px solid #ddd;
      border-radius: 2px;
      margin-right: 10px;
    }

    .btn {
      margin-left: 10px;
      border-radius: 2px;
      padding: 9px 14px 11px 13px;
      vertical-align: top;

      i {
        position: relative;
        top: 1px;
      }
    }

    .toolbar {
      background: none;
      border: 0;
      a {
        vertical-align: top;
        color: #555;
        font-size: 23px;
        padding: 0 16px;
      }
      .user-pic img {
        width: 32px;
        height: 32px;
        border-radius: 2px;
      }
    }
    .dropdown {
      min-width: 200px;
      border-color: #ccc;
      li {
        padding: 10px 20px;
      }
    }
  }
}